<div id="wizard" class="wizard" style="margin-top:30px;">
  <% if params[:action] == "index" %>
    <div id="como-funciona" style="text-align:center"><h1>Como funciona?</h1></div>
    <div style="word-wrap:break-word;text-align:center;margin: 30px auto;">
      <ul>
        <li><h4>Adicione esse cara no Facebook:</h4></li>
        <li><%= link_to image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash4/187261_100004409290328_980579531_n.jpg", style: "height:80px;"), "http://www.facebook.com/fubuia.meiaum", :target => "_blank" %></li>
        <li>
          <h4>Depois é só lembrar de convidar ele pros os teus eventos e eles vão aparecer aqui,
            <span style="font-weight:bold">e só!</span>
            <%= image_tag "woo.png" %></h4>
        </li>
      </ul>
    </div>
  <% end %>
</div>
