<%=t('pages.events.process').html_safe %>
<% if current_user.nil? || session[:fuser].nil? %>
  <div>
    <%= t('pages.events.login_required').html_safe %>
  </div>

  <%= link_to t('pages.events.start'), start_events_import_path, {:id => "start",:class => "disabled"} %>
<% else %>
  <%= link_to t('pages.events.start'), start_events_import_path, {:id => "start"} %>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){

    $('#start').click(function (e) {
      e.preventDefault();
      if ($(this).hasClass('disabled'))
        return false;
      else
        window.location.href = $(this).attr('href');
      });
    });
</script>
