<div class="container">
  <%= render :partial => "/calendar/como_funciona" %>
  <div class="clear"></div>
  <div class="card">
    <%=t('pages.events.process').html_safe %>
    <div class="msg_box msg_notice" style="margin-top:15px;margin-bottom:15px;">
      <%= t('pages.events.login_required').html_safe %>
    </div>

    <%= link_to t('pages.events.start'), start_events_import_path, {:id => "start"} %>
  </div>
</div>
