<div id="footer" class="footer_three_wide" style="background:url(/assets/bg_noise_dark.png);">
  <div class="container">
    <div id="the_footer_menu">
      <div class="menu-footer-container">
        <ul id="menu-footer" class="menu">
          <li>
            <a href="/" title="Home">Home</a>
          </li>
          <li>
            <%= link_to t('pages.root.menu.como_funciona'), '#como-funciona' %>
          </li>
          <li>
            <%= link_to t('pages.root.menu.contato'), '#contato' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer_widget">
      <h3 class="widgettitle"></h3>
      <ul id="recentcomments">
      </ul>
    </div>
    <div class="footer_widget">
      <div class="featured_reviewer">
        <h3 class="widgettitle">Criador</h3><!--Now we print out speciifc user informations to screen!-->
        <div class="specific_user">
          <img alt="" src="/assets/granudo.jpg" class="avatar avatar-48 photo" height="48" width="48" />
          <h4><span class="featured_reviewer_name">Buzaga Sauro</span>
          </h4>
          <p>Sacrificando a própria vida social pra você passar menos tempo no Facebook.</p>
          <div class="clear"></div>
        </div><!--end-->
      </div>
    </div>
    <div class="footer_widget">
      <div class="textwidget">
        <p>&copy; Fubúia</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
