<div id="footer" class="footer_three_wide">
  <div class="container">
    <div id="the_footer_menu">
      <div class="menu-footer-container">
        <ul id="menu-footer" class="menu">
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="page.php" title="Kitchen Sink">Kitchen Sink</a></li>
          <li><a href="pagefull.php" title="Full Width">Full Width</a></li>
          <li><a href="page-authors.php" title="Authors Page">Authors Page</a></li>
          <li><a href="pagecontact.php" title="Contact Us">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer_widget">
      <h3 class="widgettitle">Latest Comments</h3>
      <ul id="recentcomments">
        <li class="recentcomments"><a href="#" title="Commenter">This Guy</a> on <a href="single.php" title="Post Name">This Post Title Here</a></li>
        <li class="recentcomments"><a href="#" title="Commenter">That Guy</a> on <a href="single.php" title="Post Name">That Post Title Here</a></li>
        <li class="recentcomments"><a href="#" title="Commenter">My Name</a> on <a href="single.php" title="Post Name">Another Post Title Here</a></li>
        <li class="recentcomments"><a href="#" title="Commenter">Jake Caputo</a> on <a href="single.php" title="Post Name">Any Post Title Right Here</a></li>
      </ul>
    </div>
    <div class="footer_widget">
      <div class="featured_reviewer">
        <h3 class="widgettitle">Featured Reviewer</h3><!--Now we print out speciifc user informations to screen!-->
        <div class="specific_user">
          <a href="archive.php" title="Jake Caputo">
            <img alt="Jake Caputo" src="http://0.gravatar.com/avatar/02cdeec360274d7d9f1aa85761f95dc8?s=48&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D48&amp;r=G" class="avatar avatar-48 photo" height="48" width="48" />
          </a>
          <h4><a href="archive.php" title="Jake Caputo" class="featured_reviewer_name">Jake Caputo</a>
          </h4>
          <p>I'm a web designer and developer currently living just outside of Chicago, IL. I like coffee, comic books, cats, and the TV show Home Improvement.</p>
          <div class="clear"></div>
        </div><!--end-->
      </div>
    </div>
    <div class="footer_widget">
      <h3 class="widgettitle">Other Stuff</h3>
      <div class="textwidget">
        <p>&copy; <?php echo date('Y'); ?> Reviewer HTML Template</p>
        <p>The Reviewer HTML Template is a custom theme by <a href="http://themeforest.net/user/designcrumbs/portfolio?ref=designcrumbs" title="Jake Caputo">Jake Caputo</a>. With easy to follow instructions, set up is a breeze.</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
                </div><!-- end div#wrapper, begins in header.php -->
              </body>
            </html>
