<div id="footer" class="footer_three_wide" style="background:url(assets/bg_noise_dark.png);">
  <div class="container">
    <div id="the_footer_menu">
      <div class="menu-footer-container">
        <ul id="menu-footer" class="menu">
          <li>
            <a href="/" title="Home">Home</a>
          </li>
          <li>
            <%= link_to t('pages.root.menu.como_funciona'), '#como-funciona' %>
          </li>
          <li>
            <a href="">Blog</a>
          </li>
          <li>
            <%= link_to t('pages.root.menu.contato'), '#contato' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer_widget">
      <h3 class="widgettitle">Do Blog</h3>
      <ul id="recentcomments">
        <li class="recentcomments"><a href="#" title="Commenter">Sobre as permissões</a></li>
        <li class="recentcomments"><a href="#" title="Commenter">Nasceu!</a></li>
      </ul>
    </div>
    <div class="footer_widget">
      <div class="featured_reviewer">
        <h3 class="widgettitle">Criador</h3><!--Now we print out speciifc user informations to screen!-->
        <div class="specific_user">
          <a href="archive.php" title="">
            <img alt="" src="/assets/buzaga.jpg" class="avatar avatar-48 photo" height="48" width="48" />
          </a>
          <h4><a href="archive.php" title="Jake Caputo" class="featured_reviewer_name">Buzaga Silva</a>
          </h4>
          <p>Oi! sou programador, gosto muito de baladas e metal melódico. Vamos ser amigos?</p>
          <div class="clear"></div>
        </div><!--end-->
      </div>
    </div>
    <div class="footer_widget">
      <div class="textwidget">
        <p>&copy; Fubúia</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
                </div><!-- end div#wrapper, begins in header.php -->
              </body>
            </html>
